@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.timeline {
  padding: 35px;
}

.vis-item { top: 0px !important; border-width: 0px; }
.vis-inner { font-weight: bold; }
.vis-labelset .vis-label .vis-inner { padding: 0px 5px; }
.item-group { padding: 7px; }